body{
	background-color: #502020;
}

h1{
	font-family: monospace;
	text-align: center;
	color: #ffffff;
}

h2{
	text-align: center;
	color: #ffffff;
	font-size: 20px;
}

p{
	text-align: left;
	color: #ffffff;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px
}